<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="header-top-bar">
            <div class="header-logo-search-bar">
                <img class="liebre-logo" src="/images/logo-mercado-liebre.svg"/>
                <input class="search-bar" type="search" placeholder="Buscar productos, marcas..." >
                <button class="search-button" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            
            <h2 class="fees-text">
                <i class="fa-solid fa-hand-holding-heart"></i>
                Comprá en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li class="item-text"><a href="">Ofertas</a></li>
                <li class="item-text"><a href="">Tiendas Oficiales</a></li>
                <li class="item-text"><a href="">Vender</a></li>
                <li class="item-text"><a href="">Ayuda</a></li>
            </ul>
        
            <ul class="right-navbar">
                <li class="item-text"><a href="registro">Creá tu cuenta</a>
                    <i class="fa-regular fa-address-card"></i>
                </li> 
                <li class="item-text"><a href="login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li class="item-text"><a href="">Mis Compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <img class="banner-image" src="/images/img-home-banner.jpg"/>
    </header>
    
    <main class="main">
        <h2 class="titles">Basado en tu última visita</h2>
        <section class="last-visit">
            <div class="articles">
                <img class="image" src="/images/img-cafetera-moulinex.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$6.770</li>
                        <li class="discounts">40% off</li>
                    </ul>  
                    <div class="descriptions">Cafetera Moulinex</div>
                </div> 
            </div>
            <div class="articles">
                <img class="image" src="/images/img-macbook-pro-2019.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$230.000</li>
                        <li class="discounts">20% off</li>
                    </ul>
                    <div class="descriptions">MacBook Pro 2019</div>
                </div>
            </div>
            <div class="articles">
                <img class="image" src="/images/img-samsung-galaxy-s10.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$70.500</li>
                        <li class="discounts">10% off</li>
                    </ul>
                    <div class="descriptions">Samsung Galaxy S10</div>
                </div>
            </div>
            <div class="articles">
                <img class="image" src="/images/img-tv-samsung-smart.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$23.200</li>
                        <li class="discounts">5% off</li>
                    </ul>
                    <div class="descriptions">SmartTv Samsung 43"</div>
                </div>
            </div>  
        </section>
        <h2 class="titles">Ofertas</h2>
        <section class="off">
            <div class="articles">
                <img class="image" src="/images/img-cafetera-moulinex.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$6.770</li>
                        <li class="discounts">40% off</li>
                    </ul>
                    <div class="descriptions">Cafetera Moulinex</div>
                </div> 
            </div>
            <div class="articles">
                <img class="image" src="/images/img-macbook-pro-2019.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$230.000</li>
                        <li class="discounts">20% off</li>
                    </ul>
                    <div class="descriptions">MacBook Pro 2019</div>
                </div>
            </div>
            <div class="articles">
                <img class="image" src="/images/img-samsung-galaxy-s10.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$70.500</li>
                        <li class="discounts">10% off</li>
                    </ul>
                    <div class="descriptions">Samsung Galaxy S10</div>
                </div>
            </div>
            <div class="articles">
                <img class="image" src="/images/img-tv-samsung-smart.jpg"/>
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul class="product-info">
                        <li class="price">$23.200</li>
                        <li class="discounts">5% off</li>
                    </ul>
                    <div class="descriptions">SmartTv Samsung 43"</div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-objects">
            <div class="center-texts">
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="titles">Pagá con tarjeta o en efectivo</h2>
                <div class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </div>
            </div>
            
            <div class="center-texts">
                <i class="fa-solid fa-gift"></i>
                <h2 class="titles">Envío gratis desde $ 2.500</h2>
                <div class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</div>
            </div>
            
            <div class="center-texts">
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="titles">Seguridad, de principio a fin</h2>
                <div class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</div>
            </div>

            <br>
            <div class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>
</body>
</html>